$card-color: #377;
$secundary: tomato;
@mixin  base-button-props{
    padding: 1rem;

} 


.card{
    background: $card-color;
    width: 100px;
    height: 100px;
    padding: 1rem;
    margin: 8px;
    }
.card1{
    background: $card-color;
    width: 100px;
    height: 100px;
    padding: 1rem;
    margin: 8px;
    flex: 1;
    opacity: -5;
}
.container{
    background: #aaaa;
    height: 810px;
    ul{
        li{
            padding: .5rem;
            .primary{
                background: #377;

            }
        }
    }
}
